<%if(new Date(this.model.get('datetime')) > (new Date())){%>

<li class="bold interviewSub">
 <%if (interview.application().escape('company')){%>
   <%=interview.application().escape('company')%>,
   <%=interview.application().escape('position')%>
 <%}%>
 <%=interview.escape('address')%>
 <%=interview.escape('style')%>
 <%=new Date(interview.escape('datetime')).toLocaleString()%>
 <%=interview.escape('duration')%> minutes

 <button class="del-button" data-id="<%=interview.id%>">Delete!</button>
</li>
<%} else {%>
<li class="interviewSub">
 <%if (interview.application().escape('company')){%>
   <%=interview.application().escape('company')%>,
   <%=interview.application().escape('position')%>
 <%}%>
 <%=interview.escape('address')%>
 <%=interview.escape('style')%>
 <%=new Date(interview.escape('datetime')).toLocaleString()%>
 <%=interview.escape('duration')%> minutes

 <button class="del-button" data-id="<%=interview.id%>">Delete!</button>
</li>
<%}%>
