<form>

  <%if (app.escape('company')){%>
    <h1><%=app.escape('company')%>,<%=app.escape('position')%> </h1>
  <%} else {%>
    <h1>Create New Application </h1>
  <%}%>
  <label>Company<br>
    <input name="application[company]" type="text" value="<%= app.escape('company')%>"><br>
  </label><br>
  <label>Position<br>
    <input name="application[position]" type="text" value="<%= app.escape('position')%>"><br>
  <label>Status<br>
    <select name="application[status]" >
      <option <%if(app.escape('status') === 'Pending'){%>selected<%}%> value="Pending">Pending</option>
      <option <%if(app.escape('status') === 'Applied'){%>selected<%}%> value="Applied">Applied</option>
      <option <%if(app.escape('status') === 'Contacted'){%>selected<%}%> value="Contacted">Contacted</option>
      <option <%if(app.escape('status') === 'Interviewed'){%>selected<%}%> value="Interviewed">Interviewed</option>
      <option <%if(app.escape('status') === 'Offered'){%>selected<%}%> value="Offered">Offered</option>
      <option <%if(app.escape('status') === 'Declined'){%>selected<%}%> value="Declined">Declined</option>
    </select><br>
  </label><br>
  <label>URL<br>
    <input name="application[url]" type="text" value="<%= app.escape('url')%>"><br>
  </label><br>
  <label>Notes<br>
    <textarea name="application[notes]"><%= app.escape('notes')%></textarea><br>
  </label><br>
  <button type="submit" class="btn btn-success">
      <i class="fa fa-calendar"></i> Submit
  </button>
  <a href="/#">Back to Applications</a>
</form>
