<div class="row ">
  <%if (app.escape('url') !== '' ){%>
    <div class="col-xs-2">
    <a href="http://<%= app.escape('url')%>"><%= app.escape('company')%></a>
    </div>
  <%} else {%>
    <div class="col-xs-2">
    <%= app.escape('company')%>
    </div>
  <%}%>
  <div class="col-xs-2">
  <%= app.escape('position')%>
  </div>
  <div class="col-xs-2">
  <select class="form-control">
    <option <%if(app.escape('status') === 'Pending'){%>selected<%}%> value="Pending">Pending</option>
    <option <%if(app.escape('status') === 'Applied'){%>selected<%}%> value="Applied">Applied</option>
    <option <%if(app.escape('status') === 'Contacted'){%>selected<%}%> value="Contacted">Contacted</option>
    <option <%if(app.escape('status') === 'Interviewed'){%>selected<%}%> value="Interviewed">Interviewed</option>
    <option <%if(app.escape('status') === 'Offered'){%>selected<%}%> value="Offered">Offered</option>
    <option <%if(app.escape('status') === 'Declined'){%>selected<%}%> value="Declined">Declined</option>
  </select>
  </div>
  <div class="col-xs-2 appSub">
    <a href="/#/applications/<%=app.id%>/edit"><i class="fa fa-pencil"></i> Modify</a>
  </div>
  <div class="col-xs-2 appSub">
    <a href="/#/applications/<%=app.id%>"><i class="fa fa-calendar"></i> Interviews</a>
  </div>
  <div class="col-xs-2">
    <button class="btn btn-danger del-button" data-id="<%=app.id%>"><i class="fa fa-trash"></i></button>
  </div>
</div>
<hr>
